@import "fonts.css";

:root * {
  --sd-success: rgb(115, 202, 115);
}

body {
  margin: 0;
  font-family: Sora ExtraLight;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

.floating {
  position: fixed;
  width: 375px;
  height: 40px;
  bottom: 50px;
  padding: 15px;
  box-sizing: border-box;
  z-index: 555;
  top: 0;
  right: 0;
}

footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(35, 152, 171, 0.1);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

footer > span {
  text-align: center;
}

footer span.legend {
  width: 30%;
}

footer span.copyright {
  width: 40%;
}

footer span.social {
  width: 30%;
}
