body {
  --sd-primary: #2398ab;
  --sd-primary-hover: #2ec1d5;
  --sd-primary-selected: #91cbd5;
  --sd-secondary: #ee3d48;
  --sd-secondary-hover: #f11823;
  --sd-link: #5199ff;
  --sd-success: #9eecba;
  --sd-success-dark: #007f50;
  --sd-error: #f3737c;
  --sd-error-dark: #ee3d48;
  --sd-info: #79aaf3;
  --sd-info-dark: #257dff;
  --sd-warning: #fadc8d;
  --sd-warning-dark: #fdb300;
}
